.messages_container {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.chat {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    width: 100%;
    max-height: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.messages {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-height: 600px;
    min-height: 600px;
    overflow-y: scroll;
    padding: 10px;
}

.messages__other {
    display: flex;
    flex-direction: column;
    margin-right: 50%;
}

.messages__mine {
    display: flex;
    flex-direction: column;
    margin-left: 50%;
}

.messages__mine .message__text {
    margin-left: auto;
    text-align: right;
    background-color: #1e90ff;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    word-wrap: break-word;
}

.message {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    margin-bottom: 10px;
}

.message__text {
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 10px;
    max-width: 100%;
    word-wrap: break-word
}

.message__time {
    font-size: 12px;
    color: #999;
    margin-top: 5px;
    align-self: flex-end;
}

/*::-webkit-scrollbar {*/
/*    width: 10px;*/
/*}*/

/*::-webkit-scrollbar-track {*/
/*    background-color: #f1f1f1;*/
/*}*/

/*::-webkit-scrollbar-thumb {*/
/*    background-color: #888;*/
/*}*/

/*::-webkit-scrollbar-thumb:hover {*/
/*    background-color: #555;*/
/*}*/
