.container {
    width: 570px;
    height: 280px;
    margin: 0 0 16px 335px;
    border-radius: 10px;
    text-align: start;
}

.new_post_container {
    display: flex;
    justify-content: start;
    width: 100%;
    align-items: center;
    border-radius: 20px;
}

.avatar {
    width: 45px;
    height: 45px;
    overflow: hidden;
    margin: 2px 5px 0 15px;
    border-radius: 50px;
}

.addPost {
    flex-basis: 80%
}

.addPost textarea {
    width: 95%;
    height: 50px;
    resize: none;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    padding: 10px;
}

textarea::-webkit-scrollbar {
    width: 8px;
}

textarea:hover::-webkit-scrollbar {
    width: 8px;
}

textarea::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 10px;
    border: none;
}

textarea:hover::-webkit-scrollbar-thumb {
    background-color: #aaa;
}

.button {
    margin: 5px  auto;
}