.header {
    grid-area: h;
    background-color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
}

.header img {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    margin-left: 50px;
}

.title {
    font-size: 30px;
    margin: 0 auto;
}

.login {
    margin-right: 10px
}

.login a {
    margin-left: 8px;
    color: #304c6c;
    text-decoration: none
}

.login a:hover {
    color: #0d2342;
}