.navbar {
    grid-area: n;
    background-color: #d4dae8;
    text-align: start;
    margin-left: 76px;
    margin-top: 20px;
}

.content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 5px;
}

.navbar img {
    width: 30px;
    height: 30px
}

.title {
    margin-left: 8px;
    color: #304c6c;
    text-decoration: none
}

.title:hover {
    color: #0d2342;
}

.active {
    color: #0d2342;
    font-weight: bold;
}