.post_container {
    display: flex;
    align-items: center;
    margin: 20px;
}

.avatar {
    width: 45px;
    height: 45px;
    /*border-radius: 50%;*/
    overflow: hidden;
    margin: 2px 5px 0 15px;
    border-radius: 50px;
}

.message {

}